body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.5rem;  
  height: 22.5rem;
  border-radius: 0.5rem;
}

.box {
  position: relative;
  height: 5rem;
  padding: 0 0.5rem;
}

.dot {
  width: 1.125rem; 
  aspect-ratio: 1 / 1;
  background-color: #000;
  border-radius: 50%;
  animation: move-up 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.dot-down {
  position: absolute;
  bottom: 0;
  width: 1.25rem; 
  aspect-ratio: 1 / 1;
  background-color: #000;
  border-radius: 50%;
  animation: move-down 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}


@keyframes move-up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: translateY(3.75rem); 
  }
}

@keyframes move-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: translateY(-3.75rem);
    opacity: 1;
  }
}

.dot-2, .dot-down-2 {
  animation-delay: 0.3s;
}

.dot-3, .dot-down-3 {
  animation-delay: 0.6s;
}

.dot-4, .dot-down-4 {
  animation-delay: 0.9s;
}

.dot-5, .dot-down-5 {
  animation-delay: 1.2s;
}

.dot-6, .dot-down-6 {
  animation-delay: 1.5s;
}

.dot-7, .dot-down-7 {
  animation-delay: 1.8s;
}
